---
import { useTranslations } from '@i18n/ui';
import type { Lang } from '@i18n/ui';

interface Props {
  lang: Lang;
}

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<footer class="p-6 text-center text-sm text-black dark:text-white border-t border-gray-200 dark:border-gray-800 mt-auto">
  <p>
    Copyright &copy; {new Date().getFullYear()} <span class="text-orange font-semibold">Kukai Solutions</span>.
    {t('footer.rights')}
  </p>
</footer>
